:root {
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --bg-color: rgb(20, 20, 20);
    --dark-grey: rgba(25, 25, 25);
    --light-grey: rgb(99, 99, 99);
    --h-padding: 5%;
    --max-width: 1440px;
    --max-content-width: 700px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: var(--font-weight-light) 1rem 'Montserrat', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

.row {
    --bs-gutter-x: 0;
}

body {
    background-color: var(--bg-color);
    color: #fff;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "main" "footer";
    max-width: var(--max-width);
    margin: 0 auto;
}

    .grid header {
        z-index: 3;
        position: sticky;
        top: 0;
        grid-area: header;
        padding: 20px var(--h-padding) 15px;
        background-color: #000;
    }
    
        .navbar-toggler {
            margin-right: 0;
            margin-left: auto;
        }
        
        .navbar-nav {
            padding-top: 1rem;
            text-align: right;
        }

        .nav-link {
            color: #fff;
            font-size: 0.8rem;
            text-decoration: none;
            text-transform: uppercase;
        }

    .grid main {
        grid-area: main;
        background-color: #000;
    }
    
        .grid main.padded {
            padding: 40px 0 0;
        }

        .grid main h1 {
            margin-bottom: 20px;
            font-weight: var(--font-weight-bold);
            text-align: center;
            font-size: 1.4rem;
        }

        .grid main section.gallery {
            position: relative;
            height: 70vh;
        }

            @keyframes image {
                
                0% {
                    opacity: 0;
                }
                
                50% {
                    opacity: 1;
                }
                
                100% {
                    opacity: 0;
                }
                
            }
        
            .grid main section.gallery div {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                background-position: center;
                background-size: cover;
                animation-name: image;
                animation-duration: 20s;
                animation-iteration-count: infinite;
            }
            
            .grid main section.gallery div:first-of-type {
                z-index: 2;
                background-image: url(../img/slider/1.jpg);
            }
            
            .grid main section.gallery div:last-of-type {
                z-index: 1;
                opacity: 0;
                animation-delay: 10s;
                background-image: url(../img/slider/2.jpg);
            }
            
            .grid main section.gallery a {
                z-index: 2;
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
            }

            .grid main section.gallery a:after {
                content: "";
                opacity: 0;
                z-index: 1;
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                background: radial-gradient(transparent, rgba(0, 0, 0, .25) 70%);
                transition: opacity 0.25s ease;
            }

            .grid main section.gallery a:hover:after {
                opacity: 1;
            }

        .grid main section.blurbs {
            background-color: #000;
        }

            .grid main section.blurbs article {
                position: relative;
                padding: 15px;
                border-style: solid;
                border-color: rgb(88, 88, 88);
                border-width: 0 0 1px 0;
                text-align: center;
            }

                .grid main section.blurbs article:last-of-type {
                    border: none;
                }

                .grid main section.blurbs article h2 {
                    font-weight: var(--font-weight-regular);
                    font-size: 1rem;
                    text-transform: uppercase;
                    text-align: center;
                }

                .grid main section.blurbs article p {
                    font-size: 0.8rem;
                    text-align: center;
                }

                .grid main section.blurbs article a {
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                }
        
        .grid main section.galleries article {
            overflow: hidden;
            position: relative;
        }

            .grid main section.galleries article img {
                display: block;
            }
                
            .grid main section.galleries article a {
                z-index: 2;
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
            }

            .grid main section.galleries article div {
                z-index: 1;
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                background: radial-gradient(rgba(0, 0, 0, .75), transparent 50%);
            }

                .grid main section.galleries article div span {
                    z-index: 1;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    display: block;
                    width: 100%;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 0.8rem;
                }

        .grid main section.about {
            padding: 0 var(--h-padding) 50px;
        }
        
            .grid main section.about .avatar {
                overflow: hidden;
                width: 25%;
                max-width: 150px;
                margin: 0 auto 2rem;
                border-radius: 50%;
            }
    
                .grid main section.about .avatar img {
                    display: block;
                }
    
            .grid  main section.about p {
                margin-bottom: 1.4rem;
                text-align: center;
                line-height: 1.6;
                font-size: 0.8rem;
            }

            .grid  main section.about p:last-child {
                margin-bottom: 0;
            }

        .grid main section.form {
            padding: 0 var(--h-padding) 50px;
        }
        
            .form-group {
                margin-bottom: 1rem;
            }
            
            .form-check {
                display: inline-block;
            }
            
            .form-check-label {
                margin-right: 1rem;
            }

            .form-group label {
                display: inline-block;
                margin-bottom: 0.5rem;
            }

            .btn-primary {
                display: block;
                margin-left: auto;
                margin-right: auto;
                background-color: #fff;
                color: #000;
            }

            .btn-primary:hover,
            .btn-primary:active,
            .btn-primary:focus {
                background-color: #fff;
                color: #000;
            }

    .grid footer {
        grid-area: footer;
        padding: 25px var(--h-padding);
        background-color: var(--dark-grey);
    }

        .grid footer ul {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            list-style: none;
            font-size: 0;
            text-align: center;
        }

            .grid footer ul li {
                flex: 0 0 auto;
                margin-right: 10px;
            }
            
            .grid footer ul li:last-child {
                margin-right: 0;
            }
            
            .grid footer ul li a {
                overflow: hidden;
                display: block;
                opacity: 0.7;
                width: 32px;
                height: 32px;
                transition: opacity 0.25s ease;
                text-indent: -9999px;
                text-decoration: none;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;
            }
            
            .grid footer ul li a:hover {
                opacity: 1;
            }
            
            .grid footer ul li a.facebook {
                background-image: url(../img/icono-facebook.png);
            }
            
            .grid footer ul li a.instagram {
                background-image: url(../img/icono-instagram.png);
            }
            
            .grid footer ul li a.flickr {
                background-image: url(../img/icono-flickr.png);
            }

@media screen and (min-width: 768px) {
    
    .navbar-nav {
        padding-top: 0;
        text-align: left;
    }
    
    .grid main section.gallery {
        height: 50vh;
    }
    
    .grid main section.blurbs {
        padding: 15px var(--h-padding);
    }
    
        .grid main section.blurbs article {
            border-bottom-width: 0;
            border-right-width: 1px;
        }
    
}

@media screen and (min-width: 992px) {
    
    .grid main section.gallery {
        height: 70vh;
    }
    
    .grid main section.blurbs article h2 {
        transition: color 0.25s ease;
    }
    
    .grid main section.blurbs article a:hover + h2 {
        color: #ccc;
    }
    
    .grid main section.galleries article div {
        opacity: 0;
        background: rgba(0, 0, 0, .4);
        transition: opacity 0.25s ease;
    }
    
        .grid main section.galleries article div span {
            font-size: 1.25rem;
        }
    
    .grid main section.galleries article img {
        transition: transform 0.4s ease;
    }
    
    .grid main section.galleries article a:hover + div {
        opacity: 1;
    }
    
    .grid main section.galleries article a:hover + div + img {
        transform: scale(1.05, 1.05);
    }
    
    .grid main section.about p {
        font-size: 0.9rem;
    }

}

@media screen and (min-width: 1200px) {
    
    .grid main section.about p {
        font-size: 0.85rem;
    }
    
}