html {
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --bg-color: rgb(20, 20, 20);
    --dark-grey: rgba(25, 25, 25);
    --light-grey: rgb(99, 99, 99);
    --h-padding: 5%;
    --max-width: 1440px;
    --max-content-width: 700px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: var(--font-weight-light) 1rem 'Montserrat', Arial, sans-serif;
}

body {
    background-color: var(--bg-color);
    color: #fff;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "main" "footer";
    max-width: var(--max-width);
    margin: 0 auto;
}

    .grid header {
        z-index: 2;
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        grid-area: header;
        padding: 20px var(--h-padding) 15px;
        background-color: #000;
    }

        .grid header .logo {
            flex: 0 0 50%;
        }

        .grid header nav {
            position: relative;
            flex: 1 0 auto;
            --bar-height: 5px;
        }

            .grid header nav:after,
            .grid header nav:before {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                width: 20%;
                height: var(--bar-height);
                background-color: #fff;
                transform: translateY(calc(-50% - var(--bar-height)));
            }

            .grid header nav:after {
                transform: translateY(calc(-50% - var(--bar-height)));
            }

            .grid header nav:before {
                transform: translateY(calc(-50% + var(--bar-height)));
            }

            .grid header nav ul {
                display: none;
            }

            .grid header nav ul li a {
                color: #fff;
                font-size: 0.8rem;
                text-decoration: none;
                text-transform: uppercase;
            }

                .grid header nav ul li a.selected {
                    font-weight: var(--font-weight-bold);
                }

    .grid main {
        grid-area: main;
        background-color: #000;
    }
    
        .grid main.padded {
            padding: 40px 0 0;
        }

        .grid main h1 {
            margin-bottom: 20px;
            font-weight: var(--font-weight-bold);
            text-align: center;
            font-size: 1.4rem;
        }

        .grid main section.gallery {
            position: relative;
            height: 70vh;
        }

            @keyframes image {
                
                0% {
                    opacity: 0;
                }
                
                50% {
                    opacity: 1;
                }
                
                100% {
                    opacity: 0;
                }
                
            }
        
            .grid main section.gallery div {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                background-position: center;
                background-size: 100% auto;
                animation-name: image;
                animation-duration: 20s;
                animation-iteration-count: infinite;
            }
            
            .grid main section.gallery div:first-of-type {
                z-index: 2;
                background-image: url(../img/slider/1.jpg);
            }
            
            .grid main section.gallery div:last-of-type {
                z-index: 1;
                opacity: 0;
                animation-delay: 10s;
                background-image: url(../img/slider/2.jpg);
            }
            
            .grid main section.gallery a {
                z-index: 2;
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
            }

            .grid main section.gallery a:after {
                content: "";
                opacity: 0;
                z-index: 1;
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                background: radial-gradient(transparent, rgba(0, 0, 0, .25) 70%);
                transition: opacity 0.25s ease;
            }

            .grid main section.gallery a:hover:after {
                opacity: 1;
            }

        .grid main section.blurbs {
            display: grid;
            grid-template-columns: repeat(1, auto);
            grid-template-rows: repeat(1, auto);
            grid-template-areas: "col-1" "col-2" "col-3";
            background-color: #000;
        }

            .grid main section.blurbs article {
                position: relative;
                padding: 15px;
                border-style: solid;
                border-color: rgb(88, 88, 88);
                border-width: 0 0 1px 0;
                text-align: center;
            }

                .grid main section.blurbs article:first-of-type {
                    grid-area: col-1;
                }

                .grid main section.blurbs article:nth-child(2) {
                    grid-area: col-2;
                }

                .grid main section.blurbs article:last-of-type {
                    grid-area: col-3;
                    border: none;
                }

                .grid main section.blurbs article h2 {
                    font-weight: var(--font-weight-regular);
                    font-size: 1rem;
                    text-transform: uppercase;
                    text-align: center;
                }

                .grid main section.blurbs article p {
                    font-size: 0.8rem;
                    text-align: center;
                }

                .grid main section.blurbs article a {
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                }
                
        .grid main section.galleries {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        
            .grid main section.galleries article {
                overflow: hidden;
                position: relative;
            }

                .grid main section.galleries article img {
                    display: block;
                }
                
                .grid main section.galleries article a {
                    z-index: 2;
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                }

                .grid main section.galleries article div {
                    z-index: 1;
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: radial-gradient(rgba(0, 0, 0, .75), transparent 50%);
                }

                    .grid main section.galleries article div span {
                        z-index: 1;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        display: block;
                        width: 100%;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: 0.8rem;
                    }

        .grid main section.about {
            padding: 0 var(--h-padding) 50px;
        }
        
            .grid main section.about .avatar {
                overflow: hidden;
                width: 25%;
                max-width: 150px;
                margin: 0 auto 2rem;
                border-radius: 50%;
            }
    
                .grid main section.about .avatar img {
                    display: block;
                }
    
            .grid  main section.about p {
                margin-bottom: 1.4rem;
                text-align: center;
                line-height: 1.6;
                font-size: 0.8rem;
            }

            .grid  main section.about p:last-child {
                margin-bottom: 0;
            }

        .grid main section.form {
            padding: 0 var(--h-padding) 50px;
        }

            .grid main form fieldset {
                margin-bottom: 15px;
                padding: 10px;
                border: 1px solid rgb(196, 196, 196);
            }
            
            .grid main form fieldset legend {
                padding: 0 10px;
            }
            
            .grid main form fieldset label,
            .grid main form fieldset select,
            .grid main form fieldset input:not([type="checkbox"]),
            .grid main form fieldset textarea {
                display: block;
                width: 100%;
            }
            
            .grid main form fieldset [type="checkbox"] + label {
                display: inline-block;
                width: auto;
                padding: 0 0.5rem;
            }
            
            .grid main form fieldset label {
                margin-bottom: 0.25rem;
                font-weight: var(--font-weight-regular);
                font-size: 0.8rem;
            }
            
            .grid main form fieldset input[type="text"],
            .grid main form fieldset input[type="email"],
            .grid main form fieldset select {
                padding: 0.25rem 0.4rem;
                margin-bottom: 0.5rem;
                border: 1px solid rgb(196, 196, 196);
                border-radius: 0;
                color: #000;
            }

            .grid main form input[type="submit"] {
                display: block;
                max-width: 200px;
                margin: 0 auto;
                padding: 0.25rem 0.4rem;
                border: 1px solid rgb(196, 196, 196);
                color: #000;
            }

    .grid footer {
        grid-area: footer;
        padding: 25px var(--h-padding);
        background-color: var(--dark-grey);
    }

        .grid footer ul {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            list-style: none;
            font-size: 0;
            text-align: center;
        }

            .grid footer ul li {
                flex: 0 0 auto;
                margin-right: 10px;
            }
            
            .grid footer ul li:last-child {
                margin-right: 0;
            }
            
            .grid footer ul li a {
                overflow: hidden;
                display: block;
                opacity: 0.7;
                width: 32px;
                height: 32px;
                transition: opacity 0.25s ease;
                text-indent: -9999px;
                text-decoration: none;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;
            }
            
            .grid footer ul li a:hover {
                opacity: 1;
            }
            
            .grid footer ul li a.facebook {
                background-image: url(../img/icono-facebook.png);
            }
            
            .grid footer ul li a.instagram {
                background-image: url(../img/icono-instagram.png);
            }
            
            .grid footer ul li a.flickr {
                background-image: url(../img/icono-flickr.png);
            }

@media screen and (min-width: 576px) {

    .grid header .logo {
        flex: 0 0 35%;
    }

    .grid header nav {
        --bar-height: 6px;
    }

        .grid header nav:after,
        .grid header nav:before {
            position: absolute;
            right: 0;
            width: 15%;
        }
        
}

@media screen and (min-width: 768px) {

    .grid header {
        align-items: center;
    }
    
        .grid header .logo {
            flex: 1 0 20%;
            max-width: 200px;
        }

        .grid header nav:after,
        .grid header nav:before {
            content: none;
        }

        .grid header nav ul {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            list-style: none;
        }

            .grid header nav ul li {
                margin-right: 1.4rem;
            }

            .grid header nav ul li:last-of-type {
                margin-right: 0;
            }
    
    .grid main section.gallery {
        height: 50vh;
    }
    
    .grid main section.blurbs {
        padding: 15px var(--h-padding);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "col-1 col-2 col-3";
    }
    
        .grid main section.blurbs article {
            border-bottom-width: 0;
            border-right-width: 1px;
        }
    
    .grid main section.galleries {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media screen and (min-width: 992px) {

    .grid header nav ul li a {
        transition: color 0.25s ease;
    }

        .grid header nav ul li a:not(.selected):hover {
            color: var(--light-grey);
        }
    
    .grid main section.gallery {
        height: 70vh;
    }
    
    .grid main section.blurbs article h2 {
        transition: color 0.25s ease;
    }
    
    .grid main section.blurbs article a:hover + h2 {
        color: #ccc;
    }
    
    .grid main section.galleries article div {
        opacity: 0;
        background: rgba(0, 0, 0, .4);
        transition: opacity 0.25s ease;
    }
    
        .grid main section.galleries article div span {
            font-size: 1.25rem;
        }
    
    .grid main section.galleries article img {
        transition: transform 0.4s ease;
    }
    
    .grid main section.galleries article a:hover + div {
        opacity: 1;
    }
    
    .grid main section.galleries article a:hover + div + img {
        transform: scale(1.05, 1.05);
    }
    
    .grid main section.about,
    .grid main section.form {
        max-width: var(--max-content-width);
        margin: 0 auto;
    }
    
        .grid main section.about p {
            font-size: 0.9rem;
        }

}

@media screen and (min-width: 1200px) {
    
    .grid main section.about p {
        font-size: 0.85rem;
    }
    
}